/CalculadoraAtributos/nbproject/private/
/CalculadoraAtributos/build/
/CalculadoraAtributos/dist/
/CalculadoraMetodos/nbproject/private/
/CalculadoraMetodos/build/
/CalculadoraConstrutor/nbproject/private/
/CalculadoraConstrutor/build/
/CalculadoraHeranca/nbproject/private/
/CalculadoraHeranca/build/
/PrimoHeranca/nbproject/private/
/PrimoHeranca/build/
/PrimoHeranca/dist/
/PrimoInterface/nbproject/private/
/PrimoInterface/build/
/PrimoInterface/dist/
/TriangulosPOO/nbproject/private/
/TriangulosPOO/build/
/FatorialPOO/nbproject/private/
/FatorialPOO/build/
/FatorialPOO/dist/
